/* Text */
p, ul, h2 {
    color: #E5E5DC;
}

a {
    color: #DB504A;
}

h1 {
    color: #EDDDD0;
}
/* Text --- CLOSE */


/* Header/Footer */
header, footer {
    background-color: #A6CAD4;
    text-align: center;
}
header li {
    display: inline;
    padding: 20px;
}
header h1 {
    font-family: 'Montserrat', sans-serif;
}
/* Header --- CLOSE*/


/* Index/Home Page*/

.index_container {
    display: grid;
    /* grid-column: 1 / 2; */
    grid-template-columns: auto auto;
    grid-auto-columns: 100px;
    gap: 10px;
}

.index_container picture {
    padding: 10px;
}

.item1 {
    grid-column: 1 / span 2;
}

/* Index/Home Page --- CLOSE*/

/* Other */
/* This section is to be renamed, expanded and divided as reasonably necessary */
body {
    background-color: #334259;
}

/* Other --- CLOSE */




