/* Text */
p, ul, h2 {
    color: pink;
}

/* Colours
EDDDD0
DB504A
334259
E5E5DC
A6CAD4
*/

a {
    color: deeppink;
}

h1 {
    color: rgb(255, 101, 204);
    
}

.index_title {
    font-family: 'Montserrat', sans-serif;
}

/* Text --- CLOSE */

/* Navigation bar */
.nav-bar {
    background-color: rgb(67, 127, 255);
    text-align: center;
}
.nav-bar a {
    color: purple;
}
/* Navigation bar --- CLOSE*/

/* Other */
/* This section is to be renamed, expanded and divided as reasonably necessary */
body {
    background-color: midnightblue;
}

/* Other --- CLOSE */




